.link{
    text-decoration: none;
}
.card{
    width: 18rem ;
    border-radius: 5px;
    color: #000 ;
    background-color: lightgrey;
    text-decoration: none;
}
.cardBody{
    height: 18rem;
}
.image{
    height: 20rem;
    margin-bottom: 20px;
    
}
